@inject _23haziran_web.Services.Interfaces.ILog log 
    


@*@{
    Layout = null;

 }*@


@{ 
      
}
@section solmenu {
<ul>
    <li>
       
    </li>
    <li> </li>
    <li></li>
    <li></li>
</ul>

}
@log
sayfa2