@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-action="VeriAlmaYöntemleri1" asp-controller="Product" method="post">
    <input type="text" name="data1" placeholder="textgir" />
    
    
    <input type="number" name="data2" placeholder="numbergir"/>
    <button>Gönder</button>
</form>
